<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cat identification</title>
</head>
<body>
    <h1>基于卷积神经网络的猫种类的识别</h1>
    <p>请选择一张猫的图片上传</p>
    <p>注意: 只能是孟买猫/布偶猫/暹罗猫/英国短毛猫的其中一种</p>
    <p>上传其他图片可能会识别错误</p>
    <p>识别率: 98.18%</p>
    <hr>
    <form action="" enctype='multipart/form-data' method='POST'>
        <input type="file" name="file" style="margin-top:20px;">
        <input type="submit" value="提交" class="button-new" style="margin-top:15px;">
    </form>
</body>
</html>